.swipeButtons {
  position: fixed;
  bottom: 5vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  & .MuiButtonBase-root {
    background-color: white;
    box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3);
  }

  &__repeat {
    padding: 1vw !important;
    color: #f5b748 !important;
  }

  &__left {
    padding: 1vw !important;
    color: #ec5e6f !important;
  }

  &__star {
    padding: 1vw !important;
    color: #62b4f9 !important;
  }

  &__right {
    padding: 1vw !important;
    color: #76e2b3 !important;
  }

  &__lightning {
    padding: 1vw !important;
    color: #915dd1 !important;
  }
}
